rules_version = '2';

function signedIn() {
  return request.auth.uid != null;
}

function signedInAs(userId) {
  return signedIn() && request.auth.uid == userId;
}

service cloud.firestore {
  match /databases/{database}/documents {
    // Articles - anyone can read
    match /articles/{articleId} {
      allow read;
    }

    // User - can read their own data
    match /users/{userId} {
      allow get: if signedInAs(userId);
    }
  }
}
